services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    command: python3 -m flask run --host=0.0.0.0 --port=5000 --debug
    ports:
      - 5000:5000
    env_file:
      - .env
    environment:
      - MONGODB_USER=${MONGODB_USER}
      - MONGODB_PASSWORD=${MONGODB_PASSWORD}
      - FLASK_ENV=${FLASK_ENV}
    volumes:
      - ./server:/app
      - static_files:/app/static
    depends_on:
      - mongodb
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    ports:
      - 3000:3000
    volumes:
      - ./client:/app
      - node_modules:/app/node_modules
      - static_files:/app/dist
    depends_on:
      - server
  mongodb:
    image: mongo
    container_name: db
    ports:
      - 27017:27017
    volumes:
      - be_spelling_data:/data/db

volumes:
  node_modules:
  static_files:
  be_spelling_data: